In [1]:
'''Analisis of equivalency groups
on conflict basis'''
# take care about param types
import re
#import functions_is as fis

import numpy as np
import pandas as pd
import string # for int2base

from itertools import product
from itertools import combinations
from itertools import permutations
import itertools
import timeit
import datetime
import copy
from collections import Counter

In [2]:
def listToString(list1):
    return (''.join(map(str, list1)))
def listToString_cmm(list1):
    return (','+','.join(map(str, list1))+',')

def list_getsome(vec, positions):
    list_n = []
    for y in positions:
        list_n.append(vec[y])
    #print("lnf", list_n)
    return(list_n)

def diversity_num(vec, dim):
    # return num of different digits without nans
    dvst = 0
    for i in range(0, dim):
        for j in range(0, len(vec)):
            if vec[j] == i:
                dvst += 1
                break
    return dvst
#len(set(tbl_merged[~np.isnan(tbl_merged[:,p]),p]))

def diversity_vec(vec, dim):
    dvst = []
    for i in range(0, dim):
        for j in range(0, len(vec)):
            if vec[j] == i:
                dvst.append(i)
                break
    return dvst

# diversity_vec_wnan # from collections import Counter
lst1 = Counter().keys() 
list()

[]

In [3]:
data_ini = pd.read_csv('02_arctic_5x3_201223_data.csv', sep=';',  header=None)
#data_ini = pd.read_csv('210715_postcode35_data.csv', sep=';',  header=None)
print(data_ini)
# data should contain only leaves and K columns, it is format
# test if there are duplicates 
#data.iloc[:,0:6].duplicated()

    0  1  2  3  4  5
0   2  1  1  2  0  2
1   1  0  0  1  0  1
2   1  1  2  0  2  2
3   2  1  2  2  1  2
4   1  1  0  1  1  2
5   1  1  1  1  1  2
6   2  2  2  1  1  2
7   2  2  2  2  2  2
8   1  2  1  2  1  1
9   1  0  1  1  0  1
10  0  1  1  2  1  1
11  2  2  1  2  1  2
12  2  0  1  1  1  2
13  2  2  1  1  0  2
14  2  2  2  2  1  2
15  1  1  2  1  1  2
16  0  1  1  1  1  2
17  0  0  0  1  0  1
18  2  1  1  0  0  1
19  0  1  0  1  0  2
20  2  0  0  2  1  2
21  2  1  1  1  1  2
22  1  1  2  0  1  1
23  2  0  0  0  0  1
24  1  1  0  2  2  2
25  1  0  0  1  1  1
26  1  0  1  2  0  1
27  1  1  1  2  1  1
28  0  0  1  0  0  0
29  1  0  0  0  0  1
30  1  1  1  0  1  1

In [46]:
# test if the set of examples can be realised 
# with incopmlete techniqe




#dim = 4
#load incomplete data
#data = pd.read_csv('feeley2012_cl_d4.csv', sep=',')
#data = pd.read_csv('210409_id_arctic_l5_datatable.csv', sep=',')
#data = pd.read_csv('02_arctic_5x3_201223_data.csv', sep=';')
#print(data)
# data should contain only leaves and K columns, it is format
#data.duplicated()
lnum = data_ini.shape[1]-1
print("lnum = ", lnum)
data = np.array(data_ini.iloc[:,0:lnum+1])
#print("data: \n" ,data)
dim = 1+data.max()-data.min()
print("dim = ", (data.max()-data.min())+1)
#print("K: " ,data[:,lnum-1])
print("\n")

# all posible values of group numbers
lenumeration = [i for i in range(0,lnum)] 

len_combinations = 0
for i in range(2,lnum):
    lcombinations = list(combinations(range(1, lnum+1), i))
    len_combinations += len(lcombinations)

dfnumofisg = pd.DataFrame(
    {
        "name": np.array(len_combinations*2, dtype="str"),
        "val": np.empty(len_combinations*2, dtype="int32"),
    }
)

print("number of set | set length | set on x leaves")
print('{message:{fill}{align}{width}}'.format(
   message='',
   fill='-',
   align='<',
   width=44,
))

cnt = 0
for i in range(2,lnum):
    lcombinations = list(combinations(range(1, lnum+1), i))
    # posible combinatins of groups
    print("{0:3} |".format(i-1), end = ' ')
    print("{0:3} |".format(len(lcombinations)), end = ' ')
    print(lcombinations)
    for i in range(len(lcombinations)):
        #print("lcombinations[i] ", lcombinations[i])
        #numofisg[cnt,0] = int(''.join(map(str, lcombinations[i])))
        dfnumofisg.iat[cnt,0] = ''.join(map(str, lcombinations[i]))
        dfnumofisg.iat[cnt,1] = 0
        #print("dfnumofisg[i] ", dfnumofisg.iloc[cnt,:])
        cnt += 1

# default values 
numofgroup = 2
numberofvalue = 1
# enter dialog
numofgroup = input('Enter number of set:') 
numofgroup = int(numofgroup)+1
numberofvalue = input('Enter number of value in set:') 
numberofvalue = int(numberofvalue)-1
print("\n")

lcombinations = list(combinations(range(0, lnum), numofgroup))
lcombinations_p = list(combinations(range(1, lnum+1), numofgroup))
#print("lcombinations", lcombinations)

# form table K
print("group of leaves investigated: ", lcombinations_p[numberofvalue])
print("\n")
tbl_k = np.empty((dim**numofgroup,dim**(lnum-numofgroup)))
tbl_k.fill(np.nan)
colfilled = []
rowfilled = []
seen = set()
seen_row = set()

#enumeration_l_col = np.array(c1)
#enumeration_l_row = np.array(c2)
# fill table K from data string by sting (x)
for x in range(0,len(data)):
    #print(data[x,lcombinations[j]])
    # get coordinate in nondecimal representation of string
    #print(data[x,lcombinations[numberofvalue]])
    # get coordinate in nondecimal representation of column
    reminder = list(set(lenumeration)-set(lcombinations[numberofvalue])) 
    #print(data[x,reminder])
    # need to place F value in Ktable to selected coordinates
    c1 = "".join([str(xx) for xx in data[x,lcombinations[numberofvalue]]])
    #print(c1)
    c2 = "".join([str(xx) for xx in data[x,reminder]])
    #print(c2)
    c1_t = int(c1[::-1], base = dim)
    c2_t = int(c2[::-1], base = dim)
    #print("d",c1_t)
    #print("d",c2_t)
    tbl_k[c1_t, c2_t] = data[x,lnum]
    # попутно можно записать все столбцы в которых есть значения, соотв. другие м.б. удал.
    if c2_t not in seen:
        seen.add(c2_t)
        colfilled.append(c2_t) 
    if c1_t not in seen_row:
        seen_row.add(c1_t)
        rowfilled.append(c1_t) 
print(colfilled)
#print(rowfilled)
#print(tbl_k)
colfilled.sort()
print(colfilled)
tbl_k_s = tbl_k[:,colfilled]
# del nan rows
# use rowfilled
rows_nan = np.all(np.isnan(tbl_k_s), axis = (1))
tbl_k_s = tbl_k_s[~rows_nan,:]
#print(tbl_k_s)

# отсортируй и конвертируй в нужную шкалу  colfilled
# +1 - convert number in range from 1, for table output
#colfilled = [i+1 for i in colfilled]
#colfilled.sort()

#print(colfilled)
#rowfilled = [i+1 for i in rowfilled]
rowfilled.sort()

colfilled = [np.base_repr(int(i), base=dim) for i in colfilled]
colfilled.insert(0, 0)
colfilled = ["{0:0>{1}}".format(i, len(reminder))[::-1] for i in colfilled]
rowfilled = [np.base_repr(int(i), base=dim) for i in rowfilled]
rowfilled = ["{0:0>{1}}".format(i, lnum-len(reminder))[::-1] for i in rowfilled]
colfilled[0] = ''
# print(colfilled)
# print(rowfilled)
temp_k = np.hstack((np.array(rowfilled).reshape(len(tbl_k_s),1), tbl_k_s))
temp_k = np.vstack((np.array(colfilled).reshape(1,temp_k.shape[1]), temp_k))
  
# create numbers of str|col 
numbers = [int(i) for i in range(1,len(tbl_k_s)+1)]
numbers.insert(0, "")
numbers_col = [int(i) for i in range(0,tbl_k_s.shape[1]+1)]
numbers_col.insert(0, "")
numbers_col[1] = ''
temp_k = np.hstack((np.array(numbers).reshape(len(temp_k),1), temp_k))
temp_k = np.vstack((np.array(numbers_col).reshape(1,temp_k.shape[1]), temp_k))
#print(tbl_k_s)
#print(temp_k)
for i in range(0, temp_k.shape[0]):
    for j in range(0, temp_k.shape[1]):
        print("{0:5}".format(temp_k[i][j]), end = ' ')
    print("\n")


# for now it is necessary to analyze whether the given alphabet is enough
list_ind = [[i for i in range(tbl_k_s.shape[0])]]
inigroup = 1

for r in range(tbl_k_s.shape[1]):
    # to evade path dependance in table analysis - take r from end to begining
    
    # select a column, from back because extend used further
    # checklist - digits in curr col
    #if len(set(tbl_k_s[:,r])) > 1:
    if diversity_num(tbl_k_s[:,r], dim) > 1:
        # if there is conflict of type 1 = more than 1 different digit in col
        #checklist = tbl_k_s[:,r]
        checklist = copy.deepcopy(tbl_k_s[:,r])
        checklist_pos = 0
        for z in range(len(list_ind)-1,-1,-1): 
            # select a range in list_ind
            # rev list - это связано с тем что del удаляет с конца
            # в этой версии это не нужно
            ind_t = []
            flag_del_inigroup = 0
            nan_counted = 0
            for w in range(dim):
                # search for every simbol in alphabet in column                      
                range_in_range = np.where(tbl_k_s[list_ind[z],r] == w)[0].tolist()
                #if r > 0 and len(range_in_range) and not nan_counted:
                if not inigroup and len(range_in_range) and not nan_counted:
                    # inigroup for don't count nans when inigroup activated
                    plus_na = np.argwhere(np.isnan(tbl_k_s[list_ind[z],r]))
                    plus_na = list(itertools.chain(*plus_na))
                    range_in_range = list(itertools.chain(*[range_in_range, plus_na]))
                    nan_counted = 1
                if len(range_in_range):
                    range_in_range = list_getsome(list_ind[z], range_in_range)
                    checklist[range_in_range] = np.nan
                    ind_t.append(range_in_range)        
                    flag_del_inigroup = 1

            if flag_del_inigroup:
                del list_ind[z]
                flag_del_inigroup = 0
                inigroup = 0
            # sort list for further includes and dubles checking
            for c in range(len(ind_t)):
                ind_t[c].sort()
            list_ind.extend(ind_t)
        # seek for opportunity to expand eqg by new digits
        # checklist_pos - digits in checklist
        if ~np.isnan(checklist).all():
            # test if there are not nans
            # каждую позицию из разнообразия нужно приклеить без противоречия
            # берем доступные числа из групп столбца и расширяем группы по ним
            checklist_pos = np.argwhere(~np.isnan(checklist))#[0].tolist()
            checklist_pos = list(itertools.chain(*checklist_pos))                
            # need to sort list_ind for groups with digits go first
            zzt = 0
            cnt_zzt = 0
            while cnt_zzt < len(list_ind)-1:
                #if not len(set(tbl_k_s[list_ind[zzt],r])):
                if not diversity_num(tbl_k_s[list_ind[zzt],r], dim):
                    #print(tbl_k_s[list_ind[zzt],r])
                    #print(len(set(tbl_k_s[list_ind[zzt],r])))
                    list_ind.append(list_ind[zzt])
                    del list_ind[zzt]
                else: zzt += 1
                cnt_zzt += 1
            for zz in range(len(list_ind)):
                ind_tt = list_ind[zz]
                cnt_j = 0 
                for j in checklist[checklist_pos]:
                    j = int(j)
                    ldiv = diversity_vec(tbl_k_s[ind_tt,r], dim)
                    # проверка ГЭ на наличие символа отличного от того для которого мы ищем группу                           
                    # сформировать список без j и искать вхождение из ldiv в него
                    list_without_j = [i for i in range(dim)]
                    del list_without_j[np.nonzero(np.array(list_without_j) == j)[0][0]]
                    if any(item in ldiv for item in list_without_j):
                        cnt_j += 1
                        continue
                    else:
                        list_ind[zz].append(checklist_pos[cnt_j])
                        checklist[checklist_pos[cnt_j]] = np.nan
                        checklist_pos = np.argwhere(~np.isnan(checklist))#[0].tolist()
                        checklist_pos = list(itertools.chain(*checklist_pos))
        #else # если в ГЭ нет номера из checklist, то добваить группу
        # проверить остались ли свободные числа in checklist
        if ~np.isnan(checklist).all():
            # для каждого отдельного номинала своя группа
            ldiv2 = diversity_vec(checklist, dim)
            for i in ldiv2:
                range_in_range2 = np.where(checklist == i)[0].tolist()
                list_ind.append(range_in_range2)

print("\n")
list_ind_output = copy.deepcopy(list_ind)
for i in range(len(list_ind_output)):
    for j in range(len(list_ind_output[i])):
        list_ind_output[i][j] += 1
print("final partition: ", list_ind_output)   
print("groups found = ", len(list_ind_output))
del list_ind_output

#postanalisys: check if result may be merged for each pair of groups
q = 0
while q <= len(list_ind)-2:
    flag_onse = 1
    u = q + 1
    while u <= len(list_ind)-1:
        tbl_merged = np.vstack((tbl_k_s[list_ind[q],:], tbl_k_s[list_ind[u],:]))
        #print(tbl_merged)
        for p in range(tbl_merged.shape[1]):
            if len(set(tbl_merged[~np.isnan(tbl_merged[:,p]),p])) > 1:
                break           
            if p == tbl_merged.shape[1]-1:
                # was no break till ther end, so found 2 groups that can be merged
                if flag_onse:
                    print("in result of postanalysis found opportunity for merge")
                    flag_onse = 0
                #print(list_ind[q], list_ind[u])
                #t = list(itertools.chain(*[list_ind[q], list_ind[u]]))
                list_ind.append(list(itertools.chain(*[list_ind[q], list_ind[u]])))
                del list_ind[q]
                del list_ind[u-1]
                #list_ind.append(t)
                list_ind_output = copy.deepcopy(list_ind)
                for i in range(len(list_ind_output)):
                    for j in range(len(list_ind_output[i])):
                        list_ind_output[i][j] += 1
                print("final partition: ", list_ind_output)   
                print("groups found = ", len(list_ind_output))
                print("\n")
        u += 1
    q += 1

lnum =  5
dim =  3


number of set | set length | set on x leaves
--------------------------------------------
  1 |  10 | [(1, 2), (1, 3), (1, 4), (1, 5), (2, 3), (2, 4), (2, 5), (3, 4), (3, 5), (4, 5)]
  2 |  10 | [(1, 2, 3), (1, 2, 4), (1, 2, 5), (1, 3, 4), (1, 3, 5), (1, 4, 5), (2, 3, 4), (2, 3, 5), (2, 4, 5), (3, 4, 5)]
  3 |   5 | [(1, 2, 3, 4), (1, 2, 3, 5), (1, 2, 4, 5), (1, 3, 4, 5), (2, 3, 4, 5)]
Enter number of set:1
Enter number of value in set:1


group of leaves investigated:  (1, 2)


[7, 3, 20, 17, 12, 13, 14, 26, 16, 4, 1, 15, 11, 0, 24, 10]
[0, 1, 3, 4, 7, 10, 11, 12, 13, 14, 15, 16, 17, 20, 24, 26]
            1     2     3     4     5     6     7     8     9     10    11    12    13    14    15    16

            000   100   010   110   120   101   201   011   111   211   021   121   221   202   022   222

1     00    nan   0.0   1.0   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan

2     10    1.0   nan   1.0   1.0   1.0   nan   nan   1.0   nan   nan   nan   nan   nan   nan   nan   nan

3     20    1.0   nan   nan   nan   nan   nan   nan   nan   2.0   nan   2.0   nan   nan   nan   nan   nan

4     01    nan   nan   2.0   nan   nan   nan   nan   nan   2.0   nan   nan   1.0   nan   nan   nan   nan

5     11    nan   nan   nan   nan   nan   1.0   1.0   2.0   2.0   2.0   nan   1.0   nan   2.0   2.0   nan

6     21    nan   1.0   nan   nan   2.0   nan   nan   nan   2.0   nan   nan   nan   2.0   nan   nan   nan

7     12    nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   1.0   nan   nan   nan   nan

8     22    nan   nan   nan   2.0   nan   nan   nan   nan   nan   2.0   nan   2.0   2.0   nan   nan   2.0



final partition:  [[4, 5, 6, 7], [8], [1, 2]]
groups found =  3

In [47]:
l = [[3, 4, 5, 6], [7], [0, 1], [8]]
print(len(l[0]))
#l1 = [i+1 for i in (sub for sub in l)]
for i in range(len(l)):
    for j in range(len(l[i])):
        l[i][j] += 1
l
list(permutations(l))
print(sorted(l))

4
[[1, 2], [4, 5, 6, 7], [8], [9]]

In [48]:
# create column with number of eqg
print(list_ind)
l_eqg = [0 for i in range(temp_k.shape[0])]
cnt = 0
for i in list_ind:
    for j in i:
        print(j)
        l_eqg[j+2] = cnt
    cnt += 1

l_eqg[0] = ""
l_eqg[1] = ""
l_eqg

[[3, 4, 5, 6], [7], [0, 1]]
3
4
5
6
7
0
1

['', '', 2, 2, 0, 0, 0, 0, 0, 1]

In [49]:
# some convertions for excel output
print(temp_k)
df = pd.DataFrame(temp_k)
df1 = df.replace('nan', ' ', regex=True) 
df1 = df1.replace("\.0", '', regex=True) 
df1.insert(2, "eqg", l_eqg, True)
df1

[['' '' '1' '2' '3' '4' '5' '6' '7' '8' '9' '10' '11' '12' '13' '14' '15'
  '16']
 ['' '' '000' '100' '010' '110' '120' '101' '201' '011' '111' '211' '021'
  '121' '221' '202' '022' '222']
 ['1' '00' 'nan' '0.0' '1.0' 'nan' 'nan' 'nan' 'nan' 'nan' 'nan' 'nan'
  'nan' 'nan' 'nan' 'nan' 'nan' 'nan']
 ['2' '10' '1.0' 'nan' '1.0' '1.0' '1.0' 'nan' 'nan' '1.0' 'nan' 'nan'
  'nan' 'nan' 'nan' 'nan' 'nan' 'nan']
 ['3' '20' '1.0' 'nan' 'nan' 'nan' 'nan' 'nan' 'nan' 'nan' '2.0' 'nan'
  '2.0' 'nan' 'nan' 'nan' 'nan' 'nan']
 ['4' '01' 'nan' 'nan' '2.0' 'nan' 'nan' 'nan' 'nan' 'nan' '2.0' 'nan'
  'nan' '1.0' 'nan' 'nan' 'nan' 'nan']
 ['5' '11' 'nan' 'nan' 'nan' 'nan' 'nan' '1.0' '1.0' '2.0' '2.0' '2.0'
  'nan' '1.0' 'nan' '2.0' '2.0' 'nan']
 ['6' '21' 'nan' '1.0' 'nan' 'nan' '2.0' 'nan' 'nan' 'nan' '2.0' 'nan'
  'nan' 'nan' '2.0' 'nan' 'nan' 'nan']
 ['7' '12' 'nan' 'nan' 'nan' 'nan' 'nan' 'nan' 'nan' 'nan' 'nan' 'nan'
  'nan' '1.0' 'nan' 'nan' 'nan' 'nan']
 ['8' '22' 'nan' 'nan' 'nan' '2.0' 'nan' 'nan' 'nan' 'nan' 'nan' '2.0'
  'nan' '2.0' '2.0' 'nan' 'nan' '2.0']]

,0,1,eqg,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,,,,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
1,,,,000,100,010,110,120,101,201,011,111,211,021,121,221,202,022,222
2,1,00,2,,0,1,,,,,,,,,,,,,
3,2,10,2,1,,1,1,1,,,1,,,,,,,,
4,3,20,0,1,,,,,,,,2,,2,,,,,
5,4,01,0,,,2,,,,,,2,,,1,,,,
6,5,11,0,,,,,,1,1,2,2,2,,1,,2,2,
7,6,21,0,,1,,,2,,,,2,,,,2,,,
8,7,12,0,,,,,,,,,,,,1,,,,
9,8,22,1,,,,2,,,,,,2,,2,2,,,2